# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
/Server/istore/web-app/WEB-INF/classes

# default HSQL database files for production mode
/Server/istore/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/Server/istore/stacktrace.log
/Server/istore/test/reports
/Server/istore/logs

# project release file
/Server/istore/*.war

# plugin release files
/Server/istore/*.zip
/Server/istore/plugin.xml

# older plugin install locations
/Server/istore/plugins
/Server/istore/web-app/plugins

# "temporary" build files
/Server/istore/target
/Server/istore/target-eclipse
/Server/istore/out

bin
gen
.svn
.idea
.settings
